.nav-button {
  background-color: aquamarine;
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 100px;
  position: relative;
}
.drop-down-box {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  margin-left: -10px;
}

.nav-button:hover .drop-down-box {
  display: block;
}

.drop-down-box .nav-button:hover {
  background-color: rgb(18, 65, 66);
  transition-duration: 1s;
}
