/* Global or Desktop View */
body {
  margin: 0;
}
.container {
  background-color: rgb(38, 216, 157);
  min-height: 500px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col {
  width: 30%;
  min-height: 200px;
  background: wheat;
  margin-bottom: 40px;
  text-align: center;
}
/* tablet view */
@media (max-width: 768px) {
  .col {
    width: 45%;
    background: rgb(226, 187, 115);
  }
}
/* mobile view */
@media (max-width: 400px) {
  .col {
    width: 100%;
    background: rgb(202, 73, 22);
  }
}
