nav {
  background: rgba(0, 0, 0, 0.144);
  height: 40px;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}
nav a {
  text-decoration: none;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}
